---
const { url } = Astro.props;
---

<li>
  <a href={url} class="command-link">
    <span class="command-link__prefix">PORT</span>
    <span class="command-link__label"><slot /></span>
    <span class="command-link__suffix">&gt;&gt;</span>
  </a>
</li>
